* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    /* padding-left: 20%; */
    /* padding-right: 20%; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header a {
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 24px;
    padding: 10px 120px 70px 120px;
}

.header .left-links {
    font-weight: bold;
    font-size: 24px;
}

.header .right-links {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
    font-size: 16px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 120px;
    padding-right: 120px;
    gap: 50px;
    padding-bottom: 70px;
}

.hero-section img {
    border-radius: 25px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-section p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 6px 24px;
    border: 0px;
    border-radius: 5px;
}

.hero-section button {
    margin-top: 10px;
}

.content-section-1 {
    padding-top: 30px;
    padding-bottom: 70px;
}

.content-section-1 h2 {
    text-align: center;
    margin-bottom: 30px;
}

.content-section-1 img {
    border: 2px solid blue;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.image-containers {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.image-container {
    text-align: center;
}

.image-container .text {
    max-width: 120px;
}

.content-section-2 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #e5e7eb;
    padding-left: 30%;
    padding-right: 30%;
}

.inspiring-quote {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
}

.content-section-3 {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 120px;
    padding-right: 120px;
}

.signup-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: space;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 30px 50px 30px 50px;
}

.signup-container p {
    padding-top: 10px;
    font-weight: 100;
    font-size: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
}

.footer {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 18px 0;
}